{% extends 'base.html' %}
{% block content %}
<h1>Welcome {{ g.user.username.capitalize() }}</h1>
<div id="my-courses">
    <h1>My Courses</h1>
    <ul>
        {% for course in g.user.courses %}
       <li><a href="{{ url_for('students.view_course', id=course.id) }}">{{ course.name }}</a></li> 
       {% endfor %}
    </ul>
</div>
<div id="all-courses">
    <h1>Discover Courses</h1>
    <ul>
        {% for course in courses %}
        <li><a href="{{ url_for('students.view_course', id=course.id) }}">{{ course.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}