{% extends 'base.html' %}
{% block content %}
<h1>Teacher Info</h1>
    <p>
        Username: <input type="text" name="username" id="username-input" value="{{ teacher.username }}" disabled>
        <button class="edit-button" id="edit-username">Edit</button>
    </p>
    <p>
        Email: <input type="text" name="email" id="email-input" value="{{ teacher.email }}" disabled>
        <button class="edit-button" id="edit-email">Edit</button>
    </p>
    <div>
        <button id="update-button" data-teacher-id="{{ teacher.id }}" disabled>Update Info</button>
        <button>Reset Password</button>
        <button id="delete-teacher-btn">Delete Teacher</button>
    </div>
    <div id="confirm-delete" class="confirm-delete">
        <h3>Are you Sure you want to Delete {{ teacher.username }}?</h3>
        <div>
            <button id="accept-delete" data-teacher-id="{{ teacher.id }}">Yes</button>
            <button id="reject-delete">No</button>
        </div>
    </div>
{% endblock content %}
{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='scripts/view_teacher.js') }}"></script>
{% endblock script %}