{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/view_teacher.css') }}">
{% endblock styles %}
{% block content %}
<h1>Teacher Info</h1>
    <p>
        Username: <input type="text" name="username" id="username-input" value="{{ teacher.username }}" disabled>
        <button class="edit-button" id="edit-username">Edit</button>
    </p>
    <p>
        Email: <input type="text" name="email" id="email-input" value="{{ teacher.email }}" disabled>
        <button class="edit-button" id="edit-email">Edit</button>
    </p>
    <div>
        <button id="update-button" data-teacher-id="{{ teacher.id }}" disabled>Update Info</button>
        <button id="reset-password-btn">Reset Password</button>
        <button id="delete-teacher-btn">Delete Teacher</button>
    </div>
    <div id="confirm-delete" class="confirm-delete">
        <h3>Are you Sure you want to Delete {{ teacher.username }}?</h3>
        <div>
            <button id="accept-delete" data-teacher-id="{{ teacher.id }}">Yes</button>
            <button id="reject-delete">No</button>
        </div>
    </div>
    <div id="confirm-reset" class="confirm-reset">
        <h3>Are you Sure you want to reset {{ teacher.username }} password?</h3>
        <div>
            <button id="accept-reset" data-teacher-id="{{ teacher.id }}">Yes</button>
            <button id="reject-reset">No</button>
        </div>
    </div>
    <form action="{{ url_for('admin.reset_teacher_password') }}" method="post" id="reset-password-form">
        {{ reset_password_form.hidden_tag() }}
        {{ reset_password_form.teacher_id(value=teacher.id) }}
        <button>Submit</button>
    </form>
{% endblock content %}
{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='scripts/view_teacher.js') }}"></script>
{% endblock script %}