{% extends 'base.html' %}
{% block styles %}
 {{ super() }}
 <link rel="stylesheet" href="{{ url_for('static', filename='styles/view_course.css') }}">
{% endblock styles %}
{% block content %}
<h1>{{ course.name }}</h1>
<p>{{ course.description }}</p>
<div>
    {% if course.published %}
      <button id="publish-btn">Unpublish Course</button>
    {% else %}
      <button id="publish-btn">Publish Course</button>
    {% endif %}
    <button id="update-course-btn">Update Course</button>
    <button id="delete-course-btn">Delete Course</button>
</div>
<p>Students Enrolled: {{ course.students.count() }}</p>
<div class="lessons">
    <p>Lessons: {{ course.lessons.count() }}</p>
    <ul>
        {% for (num, lesson) in enumerate(course.lessons.all()) %}
        <li>
            <a href="{{ url_for('teachers.view_lesson', course_id=course.id, lesson_id=lesson.id) }}">
                Lesson {{ num }}: {{ lesson.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('teachers.add_lesson', id=course.id) }}">Add Lesson</a>
</div>
<form
    action="{{ url_for('teachers.update_course', id=course.id) }}"
    method="post"
    id="update-course-form"
    >
    <button type="button" id="close-btn">X</button>
    {{ update_form.hidden_tag() }}
    <p>Course Name: {{ update_form.name() }}</p>
    <p>Course Descriptiom: {{ update_form.description() }}</p>
    <button>Update</button>
</form>
<form 
    action="{{ url_for('teachers.delete_course', id=course.id) }}"
    method="post"
    id="delete-course-form"
    >
    {{ delete_form.hidden_tag() }}
    <p>Are you sure you want to Delete {{ course.name }}</p>
    <button>Yes</button>
    <button type="button" id="cancel-delete-btn">No</button>

</form>
<form 
    action="{{ url_for('teachers.publish_course', id=course.id) }}"
    method="post"
    id="publish-form"
    >
    {{ publish_form.hidden_tag() }}
    <p>Are you sure you want to {% if course.published %} Unpublish {% else %} Publish {% endif %} {{ course.name }}</p>
    <button>Yes</button>
    <button type="button" id="cancel-publish-btn">No</button>

</form>
{% endblock content %}
{% block script %}
 {{ super() }}
 <script src="{{ url_for('static', filename='scripts/view_course.js') }}"></script>
{% endblock script %}