<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock styles%}
</head>
<body>
    {% with messages = get_flashed_messages()%}
        {% if messages %}
            {% for message in messages %}
            <span>{{ message }}</span>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content%}
    {% endblock content %}
    {% block script %}
        <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    {% endblock script %}
</body>
</html>